<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Restaurant", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in?  %>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path  %></li>
      <li><%= link_to "Log In", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>